@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <style>
        body {
            background-image: url("https://wallpaperaccess.com/full/1198741.jpg");
            background-repeat: no-repeat;
            background-color: #130606;
        }
    </style>
    <h1 style="color:whitesmoke"><b>Bug_Tracker</b></h1>
    <p>

    </p>

    <div style="display: block">
        <a href="/Users/LoginScreen/">Login</a>
    </div>
    <div style="display: block">
        <a href="/Users/CreateUser/">Create Account</a>
    </div>
</div>
