@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bug_Tracker</h1>
    <p>

    </p>

    <div style="display: block">
        <a href="/Users/LoginScreen/">Login</a>
    </div>
    <div style="display: block">
        <a href="/Users/CreateUser/">Create Account</a>
    </div>
</div>
