@{
    ViewData["Title"] = "About Bug_Tracker";
}
<h1>@ViewData["Title"]</h1>

<p>The Bug_Tracker is an ASP.NET Web Application where users can read, create, update, and delete bugs they find in 
    a project. Whether they are working on a project of massive proportions with a full team of developers or for a single
    person working on a personal project this application can log bugs for both. There is also a login system where a 
    user can login with their ID, username, and password inoder to look at the bugs specifically assigned to them.
</p>

<p>
    This Web Application was made by Nick Stockton.
</p>
